* {
    box-sizing: border-box;
}

main, footer {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#mainPhoto {
    margin-top: 100px;
    float: right;
    border-radius: 50%;
    width: 15%;
}


h1 {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
    text-align: left;
}

h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
    color: gray;
    text-align: left;
}

.name {
    text-transform: uppercase;
}


nav, li {
    text-decoration: none;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

section:nth-child(even), nav {
    background-color: #ddd;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
    color: #8A9896;
    text-align: left;
    line-height: 2.0;
    margin-right: 400px;
}

#projectImg1 {
    width: 35%;
    height: auto;
    float: right;
    margin-top: 100px;
}

footer {
    margin-bottom: 150px;
}

/* Media Query for Mobile Devices  */
@media screen and (max-width: 720px) {
  main, footer {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }

    #mainPhoto { 
      border-radius: 50%;
      width: 60%;
      float: none;
  }

    #projectImg1 {
      border-radius: 50%;
      width: 60%;
      float: none;
      margin-top: 0px;
      margin-bottom: 0px;

  }
}